.venv/*
.venv
*.log
test/
config.py
__pycache__/
exports
exports/*
playwright
qr_codes
dist
build
build/*
dist/*
quotations
quotations/*
lang
lang/*
work_reports
work_reports/*
otp_zip_worker
otp_zip_worker/*
sumatra_pdf
sumatra_pdf/*
*.pdf